@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'Anurati';
  src: url('/fonts/Anurati-Regular.otf') format('opentype');
}

.logo-font {
  font-family: 'Anurati', serif;
  font-weight: 100;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: white;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  padding: 10px;
}

.links {
  font-size: 14px;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: black
}
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
    background: transparent;
}